/* .merriweather-light { */
    /* font-family: "Merriweather", serif;
    font-weight: 300;
    font-style: normal;
  }
  
  .merriweather-regular {
    font-family: "Merriweather", serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .merriweather-bold {
    font-family: "Merriweather", serif;
    font-weight: 700;
    font-style: normal;
  }
  
  .merriweather-black {
    font-family: "Merriweather", serif;
    font-weight: 900;
    font-style: normal;
  }
  
  .merriweather-light-italic {
    font-family: "Merriweather", serif;
    font-weight: 300;
    font-style: italic;
  }
  
  .merriweather-regular-italic {
    font-family: "Merriweather", serif;
    font-weight: 400;
    font-style: italic;
  }
  
  .merriweather-bold-italic {
    font-family: "Merriweather", serif;
    font-weight: 700;
    font-style: italic;
  }
  
  .merriweather-black-italic {
    font-family: "Merriweather", serif;
    font-weight: 900;
    font-style: italic; */
  }

*{
    margin: 0;
    padding: 0;
}
/* sheared style */
.red{
  color: #FF0000;
}
.font{
  font-size: 24px;
}
.spann{
  color: #FF2A00;
}
.comming-soon{
  font-size: 48px;
  color: #070211;
  font-family: Merriweather;
  margin: 0;
  padding: 0;
}
.section-3{
  font-size: 20px;
  font-family: sans-serif;
  font-weight: normal;
  color: #070211;
  opacity: 0.7;
  margin-top: 20px;

}
.body-sub-heading{
  color: #070211;
  font-size: 48px;
  font-weight: bold;
  font-family: Merriweather;
}
/* header section style */
.banner-container{
  border-radius: 25px;
    height: 80vh;
    width: 90%;
    margin: 50px auto;
    background: linear-gradient(
        180deg,
        rgb(16, 16, 16) -19.5%,
        rgba(16, 16, 16, 0)100%
        ),
        url("../images/Banner\ Image.png");
    background-repeat: no-repeat;
    background-size: cover;
}
.banner-content{
    text-align: center;
   padding: 100px 0;
   font-family: Merriweather;
}
.banner-subtitle{
    font-size: 50px;
    color: #FFFFFF;
    /* margin-bottom: 6px; */
}
.banner-title{
    font-size: 100px;
    color: #FFFFFF;
    font-weight: 800;
}
/* main section style */
.body-content{
  text-align: center;
  margin-top: 140px;
}
.body-img{
  text-align: center;
  margin-top: 60px;
}
.body-pragraph{
  font-weight: 500;
  margin-top: 50px;
  margin-bottom: 20px;
  font-family: Inter;
}
.body-heading{
  font-size: 100px;
  font-weight: 900;
  font-family: Merriweather;
}

#main{
  margin-top: 140px;
}
.middle-container{
  border-radius: 25px;
  height: 80vh;
    width: 90%;
    margin: 50px auto;
    background: linear-gradient(
        90deg,
        rgb(16, 16, 16) 3.5%,
        rgba(16, 16, 16, 0)100%
        ),
        url("../images/Vectorrr.png");
    background-repeat: no-repeat;
    background-size: cover;
}
.middle-container{
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.middle-heading{
  font-size: 70px;
  letter-spacing: 7px;
  color: white;
  font-family: Merriweather;
}
.middle-pragraph{
  font-size: 20px;
  font-weight: 400;
  color: white;
  font-family: sans-serif;
  line-height: 30px;
  opacity: 0.8;
  /* margin-top: 15px; */
  margin-bottom: 48px;
}
.join-now{
  font-size: 25px;
  font-weight: bold;
  color: #FFFFFF;
  text-decoration: none;
}

.div-container{
  text-align: center;
  /* border: 1px solid hotpink; */
  border-radius: 10px;
  height: 550px;
  width: 90%;
  margin: 0 auto;
  background: linear-gradient(
    180deg,
    rgb(250, 223, 223) 3.5%,
        rgba(255, 255, 255, 0)100%
  );
  margin-top: 130px;
  margin-bottom: 200px;
}
.div-content{
  font-size: 45px;
  font-weight: 700;
  color: #070211;
  font-family: sans-serif;
  padding: 100px 0;

}
.div-btn{
  margin-top: 40px;
  font-size: 30px;
  font-weight: bold;
  color: #FFFFFF;
  background-color: #FF2A00;
  padding: 20px 40px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}
#main-section{
  height: 425px;
  width: 90%;
  /* border: #070211 solid 1px; */
  margin: 120px auto;
  box-shadow: 5px 5px 1px 5px color rgb(250, 223, 223);
}
.section-container{
  display: flex;
  justify-content: space-evenly;
  /* text-align: center; */
  align-items: center;
}
.ellipse{
  border: 10px solid red;
  border-radius: 50%;
  padding: 20px;
}
  
.best-offer{
  font-size: 24px;
  font-family: sans-serif;
  font-weight: 400;
}
.h3-2024{
  font-size: 48px;
  font-weight: bold;
  color: #FF2A00;
  font-family: sans-serif;
}

#divided{
  
  /* border: 1px solid violet; */
  opacity: 0.5 black;
  margin: 0 auto;
  height: 1000px;
  width: 90%;
  flex-wrap: wrap;
}

.divided-content{
  display: flex;
  justify-content: space-evenly;
  padding: 100px 0px 0px 0px;
 }
.divided-content-description{
  height: 400px;
}
.divided-content-description-02{
  background-image: url("../images/Rectangle\ 2.png");
  background-repeat: no-repeat;
  /* text-align: center; */
  /* width: 1900px; */
  margin: 0 auto;
  padding: 300px 0px 0px 0px ;
  /* align-items: center; */
  /* justify-content: center; */
  width: 100%;
  background-size: cover;
  height: 70%;
  border-radius: 25px;
}
  .Holidays{
  margin: 0;
  padding: 0;
  font-size: 75px;
  font-family: Merriweather;
}
.sale{
  color: #FF2A00;
}
.avs-0{
  text-align: center;
}
/* new section */
#primary-header{
  width: 90%;
  height: 100vh%;
  margin: 150px auto;
  
}
.card-container{
  box-shadow: 1px 1px 10px 10px #f7eeee;
  border-radius: 25px;
}
.primary-container{
  /* background-color: antiquewhite; */
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  justify-content:center;
  align-items: center;
  padding-bottom: 100px;
}
.primary-contant .best-gifts{
  font-size: 24px;
  color: #FF0000;
  font-family: sans-serif;
  padding-top: 100px;
}
.primary-contant{
  margin-bottom: 60px;
}
.primary-contant{
  padding-left: 185px;
}

.last-part{
  text-align: center;
  /* border: 1px solid hotpink; */
  border-radius: 10px;
  height: 690px;
  width: 90%;
  margin: 0 auto;
  background-color: rgb(252, 236, 236); 
  margin-top: 130px;
  margin-bottom: 200px;
}
.last-container{
justify-content: center;
align-items: center;
text-align: center;
padding-top: 11vh;
}
.input-btn{
  margin-top: 50px;
  gap: 0;
  padding: 0%;
  background-color: #FFFFFF;
  margin-left: 520px;
  margin-right: 520px;
  border-radius: 50px;
  
 
}
.input-btn-container{
  padding: 25px 150px;
  padding-bottom: px;
  border-radius: 50px 0px 0px 50px;
  background-color: #FFFFFF;
  border: none;
  
}
.input-btn-type{
  padding: 25px 63px;
  border-radius: 0px 50px 50px 0px;
  /* padding-left: 0px; */
  background-color: #FF0000;
  border: none;
  cursor: pointer;
  /* font-size: 15px; */
  /* font-weight: 800; */
  color: #FFFFFF;
}